@page "/"
@inject ILocalStorageService ILocalStorageService
@inject IApiUserWithToken IApiUserWithToken


<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
@code{
    protected async override Task OnInitializedAsync()
    {
        string token = await ILocalStorageService.GetItemAsync<string>(nameof(token));
        if(!string.IsNullOrEmpty(token))
        {
            await IApiUserWithToken.UpdateLastOnline();
        }
    }
}