@page "/"
@inject ILocalStorageService _ILocalStorageService
@inject IApiUserWithToken _IApiUserWithToken
@inject ToastService _toastService
@inject BrowserService _browserService
@inject NavigationManager _navigationManager

@if (browserDimension.Width > 640)
{
    @*<button class="btn btn-danger" @onclick="@(() => _toastService.ShowToast("I'm an ERROR message", ToastLevel.Error))">Error Toast</button>*@

    <div class="w-75">

        <div class="float-start w-75 ">
            <Strona_v2.Client.Pages.FIle.SortFile />
        </div>
        <div class="float-start w-25">
            @*Kiedyś reklama*@

        </div>

    </div>

}
else
{

}

@code {
    BrowserDimension browserDimension = new();


    protected async override Task OnInitializedAsync()
    {
        browserDimension = await _browserService.GetBrowserDimension();


    }
}
