@page "/Profile/{Id:int}"
@page "/Profile/{UserName}"

@inject IApiUser _ApiUser

@if (UserPublic != null)
{
        <div class="col-auto">
            <div class="float-start">
                <p>
                    <img src="/BlekitnaFlaga1850ST.jpg" alt="Avatar" style="border-radius:1rem; width:164px; height:164px;" />
                </p>
                <center class="col-auto">
                    <div>
                        <div>
                            <span>Profil @UserPublic.Name</span>
                            <span>@UserPublic.Like/-@UserPublic.UnLike</span>
                        </div>
                    </div>
                    <div>
                        <div>
                            <label>
                                Data założenia konta:<br />
                            @UserPublic.DataCreat.LocalDateTime
                            </label>
                        </div>
                        <div>
                            <label>
                                Ostatnio online:@LastOnline
                            </label>
                        </div>
                    </div>
                </center>
            </div>
            <center class="col-auto float-start">
                &nbsp;&nbsp;<br />&nbsp;&nbsp;<br />&nbsp;&nbsp;<br />&nbsp;&nbsp;<br />&nbsp;&nbsp;<br />&nbsp;&nbsp;<br />&nbsp;&nbsp;<br />&nbsp;&nbsp;<br />
                &nbsp;&nbsp;<br />&nbsp;&nbsp;<br />&nbsp;&nbsp;<br />&nbsp;&nbsp;<br />&nbsp;&nbsp;<br />&nbsp;&nbsp;<br />&nbsp;&nbsp;<br />&nbsp;&nbsp;<br />
            </center>
            <div class="col-auto float-start">
                <AuthorizeView>
                    <Authorized>
                        <div class="nav-item ">
                            <div @onclick="ToggleUserMenu">
                                <NavLink class="nav-tabs">
                                    <span class="oi oi-document" aria-hidden="true">Edytuj Dane</span>
                                </NavLink>
                            </div>
                        </div>
                    @if (ToggleUserSetting)
                    {
                                <UserSettings></UserSettings>
                    }
                    </Authorized>
                </AuthorizeView>
            </div>
        </div>


}
else
{
        <h3>
            Loading...
        </h3>
}

@code {
    [Parameter]
    public int Id { get; set; }

    [Parameter]
    public string? UserName { get; set; }

    private string? Name;
    private UserPublic? UserPublic;
    protected override async Task OnInitializedAsync()
    {
        if (Id > 0)
        {
            UserPublic = await _ApiUser.ProfileUserPublic(Id);
        }
        if (UserName != null)
        {
            Name = UserName.Trim('"');
            UserPublic = await _ApiUser.ProfileUserPublic(Name);
        }
        WhenLastOnline();
    }
    private bool ToggleUserSetting = false;

    private void ToggleUserMenu()
    {
        ToggleUserSetting = !ToggleUserSetting;
    }
    private string? LastOnline;

    //konvertowanie czasu na informacje kiedy user był ostatnio online w godzinach/dniach
    private void WhenLastOnline()
    {
        DateTimeOffset dateTime;
        dateTime = DateTimeOffset.Now;
        long DateInt = dateTime.ToUnixTimeSeconds() - UserPublic.LastOnline.ToUnixTimeSeconds();
        if (DateInt <= 300)//sekundy -5min
        {
            LastOnline = "Online";
        }
        if (DateInt > 300 && DateInt <= 86400)//godziny do 24
        {
            LastOnline = DateTimeOffset.FromUnixTimeSeconds(DateInt).Hour.ToString() + " Godzin temu";
        }
        if (DateInt > 86400)//dni - od 24
        {
            LastOnline = DateTimeOffset.FromUnixTimeSeconds(DateInt).Day.ToString() + " Dni temu";
        }
    }



}
