@*@page "/usersettings"*@
@attribute [Authorize]

@inject IApiUserWithToken _IApiUserWithToken

<EditForm Model="userEditProfileViewModel" OnSubmit="HandChangeData">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="row-cols-auto">
        <div class="">
            <label for="Name">
                Nick &ensp;
                <InputText @bind-Value=userEditProfileViewModel.Name></InputText>
            </label>
        </div>
        <div class="">
            <label for="Email">
                Email
                <InputText @bind-Value=userEditProfileViewModel.Email></InputText>
            </label>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Modyfikuj</button>
        </div>
    </div>
</EditForm>


@code {
    UserEditProfileViewModel userEditProfileViewModel = new();

    private async Task HandChangeData()
    {

        //var t = await _IApiUserWithToken.EditProfilPach(userLogin, userEditProfile);
        //if (t != null)
        //    test = t.ToString();
    }

}
