@inherits LayoutComponentBase
@inject ISyncLocalStorageService localstorage
@inject NavigationManager NavigationM

<Toast></Toast>

<div class="page index-css">
    <div class="sidebar navMenu-css">
        <NavMenu />
    </div>
    <main>
        <AuthorizeView>
            <Authorized>
                <div class="top-row px-4 mainLayout-css">
                    <a @onclick="GoToProfile">@*@context.User.Identity.Name.Trim('"')*@ @UserName</a>
                </div>
                <article class="content px-4">
                    @Body
                </article>
            </Authorized>
            <NotAuthorized>
                <div class="top-row px-4 mainLayout-css">
                    <NavLink href="login">Gość</NavLink>
                </div>
                <article class="content px-4">
                    @Body
                </article>
            </NotAuthorized>
        </AuthorizeView>
    </main>
</div>

@code {
    private string? UserName;

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        var resultName = localstorage.GetItem<UserLocalStorage>(nameof(UserLocalStorage));

        if (resultName != null)
        {
            UserName = resultName.Name.Trim('"');
        }

        return base.OnAfterRenderAsync(firstRender);
    }
    private void GoToProfile()
    {
        var resultName = localstorage.GetItem<UserLocalStorage>(nameof(UserLocalStorage));
        if (resultName != null)
        {
            UserName = resultName.Name.Trim('"');
        }
        NavigationM.NavigateTo("/p/" + UserName);
    }


}