@inherits ToastBase

@if (IsVisible)
{
    <div class="toast-visible @BackgroundCssClass">
        <div class="toast-icon">
            <i class="@IconCssClass" aria-hidden="true"></i>
        </div>
        <div class="toast-body">
            <h5>@Heading</h5>
            <p>@Message</p>
        </div>
    </div>
}